@font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  /* 제목 스타일 */
  .title {
    font-size: 32px;
    font-family: 'SeoulNamsanM';
    font-weight: bold;
    margin-top: 70px;
    color: #333;
    text-align: center;
  }
  
  /* 중앙 카드 박스 */
  .video-card {
    position: absolute;
    width: 700px;
    padding: 20px;
    top: 50%;
    left: 50%;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transform: translate(-50%, -50%);
  }
  
  /* 비디오 카드 헤더 */
  .video-card-header {
    display: flex;
    align-items: start;
    margin-bottom: 20px;
  }
  
  /* 썸네일 스타일 */
  .youtube-thumbnail {
    margin: 0 auto;
    max-width: 75%;
    height: auto;
  }
  
  /* 액션 버튼 컨테이너 */
  .action-container {
    display: flex;
    width: 55px;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  /* 버튼 이미지 스타일 */
  .action-image {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
  }
  
  /* 버튼 텍스트 스타일 */
  .action-text {
    font-size: 14px;
    color: #333;
    font-weight: bold;
  }

  /* 영상 제목 스타일 */
  .video-title {
    max-width: 75%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  /* 영상 요약 스타일 */
  .video-summary {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
  }
  
  /* 로딩 및 에러 메시지 스타일 */
  .loading,
  .error {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
  }
  
  .error {
    color: #d9534f;
  }